In [10]:
import pandas as pd
from statsmodels.stats import weightstats as stests

In [11]:
df=pd.read_csv("/content/adani.csv")

In [12]:
df.head()

         Date       Open       High        Low      Close  Adj Close    Volume
0  01-01-2016  45.553741  49.422543  44.872616  49.095600  47.614208  10963906
1  04-01-2016  48.768658  50.158157  45.907928  46.371094  44.971912   9408965
2  05-01-2016  46.670792  48.823151  45.880684  48.278248  46.821522   9801814
3  06-01-2016  47.951309  48.468964  46.480076  46.997730  45.579639   7093448
4  07-01-2016  46.262115  46.262115  42.502296  43.564854  42.250347   8919023

In [13]:
df[['Open','High']].describe()

              Open         High
count  1750.000000  1750.000000
mean    688.173234   700.569161
std    1021.967477  1036.977084
min      32.149174    33.402447
25%      74.134321    75.891117
50%     148.150002   152.000000
75%    1193.587524  1237.750000
max    4175.000000  4190.000000

In [14]:
#value=146 refers to the null hypothesis value for the variable
ztest ,pvalue = stests.ztest(df['Open'], x2=None, value=146)
print(float(pvalue))
print(ztest)

3.994850392184618e-109
22.193204879115804

In [15]:
if pvalue<0.05:
    print("Null hypothesis rejected , Alternative hypothesis accepted")
else:
    print("Null hypothesis accepted , Alternative hypothesis rejected")

Null hypothesis rejected , Alternative hypothesis accepted

In [16]:
ztest,pval1=stests.ztest(df['Open'],df['High'],value=100)
print(float(pval1))

0.0012402908663490155

In [17]:
if pval1>0.05:
    print("Null hypothesis rejected , Alternative hypothesis accepted")
else:
    print("Null hypothesis accepted , Alternative hypothesis rejected")

Null hypothesis accepted , Alternative hypothesis rejected